<div class="arctic">
  <div class="arctic__navbar">
    <vic-navbar>
      Cooling Gel Optimizes Airflow for Refreshing Sleep
    </vic-navbar>
  </div>
  <div class="arctic__slider">
    <h3>SLIDER TODO on UNIVERSAL</h3>
  <div class="arctic__textbar">
    <vic-textbar>
      At ViscoSoft, we understand the importance of maintaining a cool and comfortable sleep
      environment. By regulating your temperature, you're able to wake up feeling refreshed,
      energized and ready to make the most out of your waking hours.
    </vic-textbar>
  </div>
  <div class="arctic__gallery">
    <vic-gallery></vic-gallery>
  </div>
  <div class="arctic__features">
    <vic-features>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          Breathable Foam<br>
          and Fibers
        </h3>
        <span class="features__item-text">
          Featuring specially engineered foams and fibers, the pillows and mattress toppers in our
          Arctic Collection are formulated to provide superior breathability when compared to similar
          products.
        </span>
      </div>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          Responsive<br>
          Cooling Gel
        </h3>
        <span class="features__item-text">
          Traditional memory foam has a tendency to sleep hot, but our innovative cooling gel technology
          keeps your body at an optimal sleep temperature throughout the entire night.
        </span>
      </div>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          Contouring<br>
          Memory Foam
        </h3>
        <span class="features__item-text">
          By cradling the curves of your body, memory foam naturally reacts to your every move and
          eliminates motion transfer, regardless of your body type or sleeping position.
        </span>
      </div>
    </vic-features>
  </div>
  <div class="arctic__quote">
    <vic-quote>
      <h3 class="quote__title">Performance Bedding at a Chill Price</h3>
      <p class="quote__text">
        Not all cooling products are created equal. During the manufacturing process, gel beads can
        clump and cause hot spots in certain areas of your bed. Our product feature an innovative gel
        technology that evenly distributes body heat so you'll never be too hot or too cold again.
      </p>
    </vic-quote>
  </div>
  <div class="arctic__column">
    <vic-column>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">moisture wicking fabric</h3>
        <span class="column__item-text">
          The Arctic Collection features breathable covers that utilize moisture-wicking technology to repel
          moisture while you sllep. Each removable cover also acts as a barrier against allergies and dust
          mites keeping you cool, clean and comfortable.
        </span>
      </div>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">optimal recovery</h3>
        <span class="column__item-text">
          With over a decade of experience, our innovative team of sleep experts have engineered a series of
          fabrics and foams to optimize your sleep environment, allowing you to rest and recover at night so
          that you'll perform at your best during the day.
        </span>
      </div>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">superior garantee</h3>
        <span class="column__item-text">
          Our premium products are manufactured from the most advanced foams and fabrics on the market. We're
          so sure that they'll help ypu make the most of your waking hours that we proudly offer a 3-year
          warranty and a money-back guarantee.
        </span>
      </div>
    </vic-column>
  </div>
  <div class="arctic__action">
    <vic-action>
      <div class="action__title">Arctic</div>
      <div class="action__subtitle">Engineered to Energize</div>
      <div class="action__text">
        The key to enhancing your performance during the day is allowing your body and mind to repair
        itself each night. The Arctic Collection was engineered to provide temperature-controlled,
        therapeutic support so that you can maximize your recovery time and wake rejuvenated
        and ready to take on whatever the world throws at you.
      </div>
    </vic-action>
  </div>
</div>

