<div class="header">
  <div class="header__container">
    <div class="header__menu">
      <span class="header__menu-toggle">
          <span class="header__menu-baton"></span>
          <span class="header__menu-baton"></span>
          <span class="header__menu-baton"></span>
      </span>
      <ul class="header__menu-wrap">
        <li class="header__menu-link">Collection</li>
        <li class="header__menu-link">Story</li>
        <li class="header__menu-link">Contact</li>
      </ul>
    </div>
    <div class="header__logo">
      <a class="header__logo-wrap"></a>
    </div>
    <div class="header__local">
      <ul class="header__local-wrap">
        <li class="header__local-lang">EN</li>
        <li class="header__local-lang">FR</li>
      </ul>
    </div>
  </div>
</div>
