<div class="ecosoft">
  <div class="ecosoft__navbar">
    <vic-navbar>
      Natural Products for a Sounder Sleep
    </vic-navbar>
  </div>
  <div class="ecosoft__slider">
    <h3>SLIDER TODO on UNIVERSAL</h3>
  </div>
  <div class="ecosoft__textbar">
    <vic-textbar>
      As the industry leader in producing plant-based memory foam, we use eco-friendly materials
      and processes to provide the same level of comfort and durability found in traditional
      memory foam products while reducing our carbon footprint.
    </vic-textbar>
  </div>
  <div class="ecosoft__gallery">
    <vic-gallery></vic-gallery>
  </div>
  <div class="ecosoft__features">
    <vic-features>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          less energy
        </h3>
        <span class="features__item-text">
          Implententing a variety of renewable energy sources we were able to cut
          our non-renewable enery usage by 61%.
        </span>
      </div>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          less pollution
        </h3>
        <span class="features__item-text">
          Producing our EcoSoft Collection generates 36% less carbon dioxide
          emissions than the average pillow manufacturer.
        </span>
      </div>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          less waste
        </h3>
        <span class="features__item-text">
          To reduce waste and save trees, the EcoSoft Core is packaged in a
          stylish carrying case that doubles as a reusable tote.
        </span>
      </div>
    </vic-features>
  </div>
  <div class="ecosoft__quote">
    <vic-quote>
      <h3 class="quote__title">It's Easy Being Green with EcoSoft</h3>
      <p class="quote__text">
        Whether you suffer from allergies or just want to ensure that you provide a safe sleep environment
        for your loved ones, EcoSoft is the easy answer. Our all-natural product are formulated from a blen of plant,
        tree and soy-based foams to create a luxurious sleep surface that's easy on your wallet and on the planet.
      </p>
    </vic-quote>
  </div>
  <div class="ecosoft__column">
    <vic-column>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">Safe and Hypoallergenic</h3>
        <span class="column__item-text">
          At ViscoSoft, we understand that creating a healthy bedroom environment is important
          for children, aging parents and pets. That's why every cover in the EcoSoft Collection
          is washable, naturally hypoallergenic and dust-mite resistant.
        </span>
      </div>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">Breathable and Conforming</h3>
        <span class="column__item-text">
          Thanks to the intrinsic properties of bamboo, our environmentally-friendly products
          sleep cooler than traditional memory foam while still conforming to your head, neck
          and shoulders making it the ideal choice for side, stomach and back sleepers.
        </span>
      </div>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">Sleek and Sustainable</h3>
        <span class="column__item-text">
          What could be better than making an environmental impact while you sleep? From the
          dock at our manufacturing facility to your door, we strive to use high quality
          sustainable solutions to deliver a great night's sleep and a low carbon footprint.
        </span>
      </div>
    </vic-column>
  </div>
  <div class="ecosoft__action">
    <vic-action>
      <div class="action__title">Ecosoft</div>
      <div class="action__subtitle">Made with Love in the United States</div>
      <div class="action__text">
        The EcoSoft Collection is crafted in Rhode Island from the purest plant-based foams and
        plushest natural fabrics and shipped efficiently to your door in eco-friendly packaging.
        Why? Because we like to think we are not just responsible for better sleep.
      </div>
    </vic-action>
  </div>
</div>

