<div class="muse">
  <div class="muse__navbar">
    <vic-navbar>
      Engineered to Help You Sleep Inspired
    </vic-navbar>
  </div>
  <div class="muse__slider">
    <h3>SLIDER TODO on UNIVERSAL</h3>
  </div>
  <div class="muse__textbar">
    <vic-textbar>
      In order to satisfy such a diverse group of customers, we hand select our materials
      and control every detail from the density of our foam to the thread in our fabric.
      From our drawing board to your bedroom, we never compromise on quality.
    </vic-textbar>
  </div>
  <div class="muse__gallery">
    <vic-gallery></vic-gallery>
  </div>
  <div class="muse__features">
    <vic-features>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          cold wire<br>
          technology
        </h3>
        <span class="features__item-text">
          The Muse Collection features an innovative cooling fabric to help you sleep cool and wake up
          feeling refreshed.
        </span>
      </div>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          in-house<br>
          design
        </h3>
        <span class="features__item-text">
          By designing, constructing and controlling our products in-house, we're able to ensure quality
          for a better price.
        </span>
      </div>
      <div class="features__item">
        <span class="features__item-icon"></span>
        <h3 class="features__item-title">
          made<br>
          just for you
        </h3>
        <span class="features__item-text">
          Our mattresses and pillows have multiple comfort levels so you can perfect your own idea
          of comfort.
        </span>
      </div>
    </vic-features>
  </div>
  <div class="muse__quote">
    <vic-quote>
      <h3 class="quote__title">One Amazing Mattress. Three Comfort Options</h3>
      <p class="quote__text">
        Whether you prefer a soft, medium or firm feel, you can choose a superior quality mattress
        that's personalized for you and delivered right to your door.
      </p>
    </vic-quote>
  </div>
  <div class="muse__column">
    <vic-column>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">Personalized Comfort</h3>
        <span class="column__item-text">
          Choose the mattress comfort option and pillow loft support that's best for you or you
          and your partner. Not sure? Take our Sleep Quiz.
        </span>
      </div>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">120 Night Trial</h3>
        <span class="column__item-text">
          Skip the hassle of a cluttered store and sleep on your mattress or pillow in the
          comfort of your own home for 120 nights, risk free.
        </span>
      </div>
      <div class="column__item">
        <span class="column__item-icon"></span>
        <h3 class="column__item-title">Delivered to Your Door</h3>
        <span class="column__item-text">
          Once your order's placed, we'll ship nationwide in 5-7 business days so you can
          sit back, relax and get ready for the best sleep of your life.
        </span>
      </div>
    </vic-column>
  </div>
  <div class="muse__action">
    <vic-action>
      <div class="action__title">Muse</div>
      <div class="action__subtitle">Our Universal Belief</div>
      <div class="action__text">
        Our differences are what make our world such a fascinating place to live, travel, eat and sleep.
        So, why settle for a generic 10-day vacation, a mediocre meal or a “one-size-fits-all" mattress?
        At Muse, we believe in celebrating differences—inside the bedroom and out.
      </div>
    </vic-action>
  </div>
</div>

