<div class="footer">
  <div class="footer__main">
    <div class="footer__main-container">
      <div class="footer__wrapper">
        <div class="footer__logo">
          <a href="#" class="footer__logo-wrap"></a>
        </div>
        <div class="footer__nav-wrap">
          <div class="footer__nav-links">
            <a class="footer__nav-link">Contact us</a>
            <a class="footer__nav-link">Our blog</a>
            <a class="footer__nav-link">Warranty</a>
          </div>
          <div class="footer__socials">
            <a href="https://www.facebook.com/MuseSleep/" class="footer__socials-link footer__socials-link_fb"></a>
            <a href="https://twitter.com/musesleep" class="footer__socials-link footer__socials-link_tw"></a>
            <a href="https://www.instagram.com/musesleep/" class="footer__socials-link footer__socials-link_in"></a>
            <a href="https://www.pinterest.com/MuseSleep/" class="footer__socials-link footer__socials-link_pt"></a>
          </div>
        </div>
      </div>
      <form class="footer__form">
        <div class="footer__form-container">
          <h3 class="footer__form-title">JOIN OUR MAILING LIST</h3>
          <span class="footer__form-subtitle">Product updates and the latest news sent straight to your inbox</span>
          <div class="footer__form-field-wrap">
            <div class="footer__form-field-wrap-input">
              <input type="text" class="footer__form-input" placeholder="Enter your email"/>
            </div>
            <button type="submit" class="footer__form-submit">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="footer__info">
    <div class="footer__info-container">
      <a class="footer__info-link">call us: 844-888-4726</a>
      <span class="footer__info-schedule">Monday – Friday 8:30am–5:30pm ET</span>
    </div>
  </div>
</div>

